body {
    background: #ffffffef;
    margin: 0; padding: 0; 
}
header {
    background-color: black; color: cadetblue;
    text-align: center; 
    justify-content: center; width: 100%; 
    font-family: Verdana; font-size: 24px;
    font-weight: bolder;
    margin: 20px; padding: 10px 0;
     
}

nav {
    display:flex; justify-content: center;
    gap: 40px; border: solid 2px; 
    border-radius: 5px;
    font-size: 14px;
    margin: 20px auto; width: 100%; 
}

.grid-container{
    display: grid; grid-template-columns: auto auto; 
    gap: 20px; width: 100%; 
    margin: 30px; justify-content: center;
    align-content: center;
}
.grid-box {
    display: flex; justify-content:space-evenly;
    align-items: center; height: 100px;
    width: 100px; 
}

.content-box {
    width: 90%; height: 100px; 
    border: solid 2px; border-radius: 5px;
    margin: 40px; align-content: center;
    display: flex;
}
.quiz-title {
background-color:rgba(87, 172, 143, 0.84);
color: white; text-align: center; 
width: 100%; margin: 20px; justify-content: center;
padding: 10px; font-weight: bold;
}

.quiz {
float: bottom; justify-content: center;
width: 100%;
display: flex;
}
.quiz-box {
width: 100%; background-color: grey;
border: 2px solid; padding: 20px; 
margin: 40px; 
display: flex; justify-content: center;
}

.landmark-title { 
    text-align: center; font-weight: bolder;
    width: 100%; padding: 20px;
    margin: 20px;
}
.landmark-image { 
justify-content: center; width: 100%; 
height: 200px; margin: 20px; 
    display: flex;
}
.about{
text-align: center; margin: 20px; 
font-weight: bolder;
}
.landmark-about {
text-align:center; display: flex; 
justify-content: center; margin-bottom: 20px; 
height: 200px;
}
.timeline {
 justify-content: center; display: flex;
text-align-last: center; height: 200px;
}
